---
permalink: /
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body class="site{% if site.animated %} animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}
  
    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        <img src="/images/basic-diagram.png"/>
        <div class="grid">
          <div class="col-1-3">
            <h2>1</h2> End users load up their device or wifi router with blockchain tokens to pay for internet access.
          </div>
          <div class="col-1-3">
            <h2>2</h2> A mesh of rooftop transmitters forward packets. They earn tokens and compete to provide service. 
          </div>
          <div class="col-1-3">
            <h2>3</h2> Uplinks act as gateways to the internet and receive payment, competing with other uplinks in the area.
          </div>
        </div>
      </div>
    </div>

    <div class="black-bg">
      <div class="measure">
        <p>
          The Internet currently relies on large, monopolistic ISPs. Due to the lack of meaningful competition, they are free to charge exorbitant rates, throttle speeds, and censor content.
        </p>
        <p>
          Althea is a set of internet protocols with payment built in, creating incentives for rapid expansion and investment in the network. Althea provides a way for people maintaining internet infrastructure to be funded and compensated autonomously, without the need for governments or businesses.
        </p>
      </div>
    </div>
    
    <!--<footer class="center black-bg">
      <div class="measure">
        <small>
          Contact: jehan.tremback@gmail.com
        </small>
      </div>
    </footer>-->
    <!--{% include footer.html %}-->
  </div>
</body>
</html>





