<div style="position: relative">
	<div id="map">
	</div>
	<div style="width: 100%; display: flex; justify-content: center; position: absolute; top: 10px; left: 0px; z-index: 99;">
		<div style="background: white; display: flex; padding-left: 10px; padding-right: 10px">
			<h1 style="margin-top: 0; margin-bottom: 0">Test Deployments</h1>
		</div>
	</div>
	<div style="width: 100%; height: 0; display: flex; align-items: flex-end; justify-content: center; position: absolute; bottom: 10px; left: 0px; z-index: 99;">
		<div style="background: white; display: flex; padding: 10px">
			<b style="margin-right: 13px">Legend:</b>
			<div style="display: flex; margin-right: 15px"><img width="20" height="32" src="/images/active_pointer.png"/><div style="margin-left: 8px">Active deployment</div></div>
			<div style="display: flex;"><img width="20" height="32"  src="/images/inactive_pointer.png"/><div style="margin-left: 8px">Requested deployment</div></div>
		</div>
	</div>
</div>

<div class="measure wrap p2">
	<div style="display: flex; flex-wrap: wrap">
		<div style="width: 600px; padding-right: 20px; padding-bottom: 10px">
			We're running early alpha and beta tests of Althea in various locations around the world. If you'd like to start or join an Althea network in your area, add yourself to the map and we can help you get started.
		</div>
		<a href="https://airtable.com/shrqCdstGZeJwzGL2" class="button" id="althea-in-my-area" style="flex: 2; width: 300px; max-height: 80px; margin-top: 10px;">I want Althea in my area</a>
	</div>
</div>

<script type="text/javascript" src="/scripts/app.js"></script>