.hero {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("/images/transmitters-sky.png");
  background-size: cover;
  color: white;
  text-shadow: none;
}


@media screen and (min-width: $viewport-medium) {
  html {
    font-size: 18px;
  }
}

.bottom-hero {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("/images/aiming.jpg");
  background-size: cover;
  color: white;
  text-shadow: none;
  p {
    color: white;
  }
  img {
    opacity: 0.4;
  }
}