.hero {
  display: none; // stupid mobile-first
  text-align: center;
  padding-bottom: 40px;
  .title {
    font-size: $hero-font-size;
    font-family: $heading-font-family;
    display: inline-block;
    img {
      vertical-align: text-top;
      height: $hero-font-size * $bird-logo-multiplier;
    }
  }
}

@media screen and (min-width: $viewport-medium) {
  html {
    font-size: 18px;
  }
  .hero {
    display: block;
  }
}