// ---
// # Front matter added to ensure Jekyll processes file.
// ---

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("{{'/images/transmitters-sky.jpg' |  prepend: site.baseurl}}");
  background-size: cover;
  color: white;
  text-shadow: none;
}

.wisp-banner {
  background: rgb(245, 110, 0);
  padding: 12px;
  text-align: center;
}

@media screen and (min-width: $viewport-medium) {
  html {
    font-size: 18px;
  }
}

.bottom-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("{{'/images/aiming.jpg' | prepend: site.baseurl}}");
  background-size: cover;
  color: white;
  text-shadow: none;
  p {
    color: white;
  }
  img {
    opacity: 0.4;
  }
}
