a {
  color: inherit;
  text-decoration: underline;
  // color: $link-color;
  // background-image: linear-gradient(
  //   to top,
  //   rgba(0, 0, 0, 0) 13%,
  //   rgba($link-color, 0.8) 13%,
  //   rgba($link-color, 0.8) 16.5%,
  //   rgba(0, 0, 0, 0) 16.5%
  // );
  // text-shadow: white 1px 0px 0px, white -1px 0px 0px;
}

// a:hover,
// a:focus,
// a:active {
//   color: initial;
//   text-decoration: underline;
//   // background-image: linear-gradient(
//   //   to top,
//   //   rgba(0, 0, 0, 0) 13%,
//   //   rgba($link-hover-color, 0.8) 13%,
//   //   rgba($link-hover-color, 0.8) 16.5%,
//   //   rgba(0, 0, 0, 0) 16.5%
//   // );
//   // text-shadow: white 1px 0px 0px, white -1px 0px 0px;
// }

button,
.button {
  text-shadow: none;
  box-shadow: inset -1px -2px #51809b;
  border-radius: 2px;
  border: none;
  background-image: none;
  background: #81d1ff;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-family: $heading-font-family;
  // display: flex;
}

button img,
.button img {
  height: 1em;
  margin-right: 0.5em;
}

button:active,
.button:active {
  // color: white;
  background: #6eb1d8;
  box-shadow: none;
  text-shadow: none;
  background-image: none;
  text-decoration: none;
}

button:focus,
.button:focus {
  outline: none;
}

.button:disabled {
  background: rgb(175, 175, 175);
  cursor: default;
  color: rgb(97, 97, 97) !important;
}

.post-link {
  text-decoration: none;
}
